# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Программирование\Web-1-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
